body {
  background-color: #7a8116;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
display: flex;
justify-content: center;
  }
  .nombre-activo {
    font-weight: bold;
    border: 1px solid #989898;
    border-radius: 5px;
  background-color: #ffffff3a;
  margin: 10px;
  }
  .galeria {
    border: 1px solid #989898;
    border-radius: 5px;
  background-color: #ffffff00;
  margin: 10px;
  }  

  h1,h3 {
    text-align: center;
  }
  
  input[type="text"],
  button {
    margin: 20px;
    padding: 5px;
  }
  /* cambiar aca para conseguir responsive */
.container{
width: 350px;
background-color: rgba(255, 255, 255, 0.546);
border-radius: 5%;
} 
.header{
  position: relative;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;  
background-color: #ffffffb5;
border-bottom: 5px solid rgba(255, 255, 255, 0.541);
padding: 10px;
} 

  
  
  
 
  

  