
.ganador-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}
.ganador-container {
  background-color: rgb(149, 149, 149);
  padding: 20px;
  text-align: center;
  border: 10px double rgb(133, 133, 133);
  border-radius: 5px;
  width: 290px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.button-ganador{
background-color: rgb(255, 255, 255);
border-radius: 5px;
padding: 10px 20px;
border: 0px solid black;
}

.button-ganador:hover {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ganador-button:hover {
  background-color: #ffffff;
}
